:root {
  --font-main: "IBM Plex Mono", sans-serif;
  --base-font-size: clamp(1rem, 0.9rem + 0.5vw, 1.125rem);
  --title-font-size: clamp(7.25rem, 6rem + 8vw, 9.5rem);
  --header-font-size: 1.125rem;
  --header-padding: 10px;
  --section-gap: clamp(40px, 5vw, 60px);
  --article-gap: 20px;
  --header-height: 100vh;
  ---article-gap: 10px;
  --section-article-gap: 20px;
  --main-offset: 10px;
  --header-margin-top: 55px;
  --main-padding: 42px 10px;
  --section-padding: 47px;
  --image-padding: 10px;
  --article-margin-top: 15px;
  --min-height-HF: 1024px;
  --padding-button: 1.5px 15px;

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  :root {
    --main-padding: 63px 20px;
    --header-margin-top: 182px;
    --section-padding: 76px;
    --image-padding: 1px;
    --header-padding: 20px;
    --main-offset: 20px;
  }
}

@media (min-width: 1024px) {
  :root {
    --main-padding: 60px 20px;
    --section-gap: 40px;
    --section-article-gap: 20px;
    --gallery-gap: 20px;
    --section-padding: 77px;
    --image-padding: 20px;
    --min-height-HF: 768px;
    --main-offset: 20px;
  }
}